body {
	background: #f0f0f0;
	margin: 0;
	padding: 0;
}

.container_24 {
	width: 1090px;
}

.debug {
	border: 2px solid green;
	background: #8526c4;
	min-height: 200px;
}

/*top bar design*/
.heading {
	background: #115293;
	min-height: 43px;
	-webkit-border-radius: 10px;
	border-radius: 13px;
}

.heading ul {
	list-style: none;
	margin-right: 20px;
	color: white;
}

.heading li {
	font-family: 'Trocchi', serif;
	margin-top: 10px;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
}

.heading li a {
	text-decoration: none;
	color: white;
}

.heading li:hover, .heading li a:hover {
	cursor: pointer;
	color: #89adef;
}

/*top bar design*/

.main_content {
	margin-top: 50px;
}

/* Prescription tab's content's styles*/
.selection {
	padding: 10px;
}

.selection label {
	min-width: 100px;
	font-size: 13px;
}

.selection input {
	padding: 3px;
}

#field {
	padding: 6px;
}

#search_control {
	position: relative;
	float: left;
	width: 600px;
}

#profile_and_prescription_div {
	margin-top: 10px;
}

#patient_image {
	margin-top: 10px;
	padding: 5px;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	border: 10px solid #fff;
	border: 10px solid rgba(255, 255, 255, 0.9);
	outline: none;
}
.no_patient {
	font-family: 'Monda', sans-serif;
}

#no_prescription{
	margin-left: 200px;
	margin-top: 80px;
}

#no_prescription_info{
	margin-top: 8px;
	margin-left: 22px;
	
}



